body,html{background:#eee;font:16px/1.3 Effra,helvetica,sans-serif;padding:0;margin:0;-webkit-font-smoothing:subpixel-antialiased;}
#site ul{overflow:hidden;list-style:none;margin:0 0 0 12px;padding:0;width:100%;}
#site li{margin: 0 12px 12px 0;background:#fff;width:192px;}
#site li >*{font-size:13px;}
#site li .summary{padding:12px;}
#site li .image img{display:block;}

#site .image{background:#eee;}

#backdrop{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(210,210,210,.95);z-index:10;}
#modal{position:absolute;top:50px;left:50%;background:#fff;z-index:11;}

#site .card-content{position:absolute;top:-10000px;}
#site .card-image{min-width:200px;min-height:200px;}

#site .card-image img{display:block;}
#site .card-image input{position:absolute;top:200px;margin-left:20px;}
#site .card-image .img{height:100%;}
#site .card-image .img.empty{background:#eee;}
#site .card-detail{margin:0;font-size:18px;line-height:24px;}
#site .editable{outline:none;}

#site .card-detail{font-weight:300;position:relative;}

#site .card-detail.caption-left{padding-left:340px;}
#site .card-detail.caption-right{padding-right:340px;}

#site .card-detail.caption-left .card-content,
#site .card-detail.caption-right .card-content{position:absolute;top:20px;bottom:20px;display:block;width:300px;}

#site .card-detail.caption-right .card-content{right:20px;}
#site .card-detail.caption-left .card-content{left:20px;}

#site .card-detail.caption-bottom .card-content{position:static;padding:20px;}

#site .card-detail .title{margin:0 0 20px;padding:0;}
#site .card-detail .content p{margin: 0 0 10px;}
#site .card-toolbar{position:absolute;top:-30px;height:30px;left:0;right:0;}
#site .card-toolbar.active{background:rgba(0,0,0,.9);}

#site .controls{position:fixed;bottom:10px;left:10px;z-index:2;}

#site .cards{margin-top:12px;}

.light{font-weight:300;}
.book{font-weight:400;}
.medium{font-weight:500;}
.bold{font-weight:700;}
.heavy{font-weight:900;}