body,html{background:#eee;font:14px/1.3 helvetica,sans-serif;padding:0;margin:0;}
#site ul{overflow:hidden;list-style:none;margin:0 0 0 12px;padding:0;width:100%;}
#site li{padding:12px;margin: 0 12px 12px 0;background:#fff;width:140px;}
#site li >*{font-size:13px;}
#site .menu{background:#000;padding:12px;margin-bottom:12px;}
#site .menu a{display:inline-block;margin: 0 12px 0 0;color:#fff;}
#site .image{width:140px;height:140px;background:#eee;}
#backdrop{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.7);z-index:10;}
#modal{width:800px;height:400px;position:fixed;top:50%;left:50%;margin:-200px 0 0 -400px;background:#fff;z-index:11;}