html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,figure,footer,header,
hgroup,menu,nav,section,menu,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}

body,select,input,textarea{color:#444;}

h1,h2,h3,h4,h5,h6{font-weight:bold;text-rendering:optimizeLegibility;}

html,button{-webkit-font-smoothing:antialiased;}

pre {padding: 15px;}

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

button {  width: auto; overflow: visible; }

/* STYLE THIS */

::-moz-selection{ background: #444; color:#fff; text-shadow: none; }
::selection { background:#444; color:#fff; text-shadow: none; }

/* !!!! */

@media print {
    * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
    a, a:visited { color: #444 !important; text-decoration: underline; }
    img, pre, blockquote { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}
