<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html charset=utf-8'>
    <title>Backbone + React + Require</title>
    <link rel="stylesheet" href="/public/fonts/font-awesome-4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/public/fonts/e/e.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/medium.css">
  </head>
  <body style="font-family:Effra">
    {{{ bundles.libs }}}
    {{{ bundles.app }}}
  </body>
</html>
